.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scoring-grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: left;
}

.scoring-grid div {
  /*width: 100px;*/
  flex-grow: 1;
  background-color: #000;
  aspect-ratio: 1/1;
  background-image: url('/public/cone.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}